.no-email {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 16px;
  }

  label {
    margin-bottom: 32px;
  }

  input {
    min-width: 420px;
  }

  p {
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    max-width: 674px;
  }

  .email {
    color: var(--primary-accent);
    font-weight: 600;
  }

  button {
    max-width: 420px;
    width: 100%;
    margin-bottom: 14px;
  }
}
