body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --primary-accent: #4e74f5;
  --grey: #e6e6e6;
  --text-grey: #999999;
  --light: #f6f8ff;
  --white: #ffffff;
  --link-color: #4e74f5;
  --error: #fb2424;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  min-height: 100%;
  height: 100%;
}

.svg {
  width: 24px;
  height: 24px;
}
